<div class="col-12 col-md-6 col-lg-4 my-2 order-first" data-aos="fade-up" >
    <div class="card shadow border-0">
        <div class="card-body p-2 d-flex justify-content-center">
            {%- assign arrBanners = site.data.prime.banners.arr_banners -%}

            {%- for banners in arrBanners -%}
                {{ banners.html_code }}
            {%- endfor -%}
        </div>
    </div>
</div> 


<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=30&p=22&l=ur1&category=premium&banner=0X5115VR32VGZVXY8902&f=ifr&linkID=20ec91d62b60329d8f55661f23a8926a&t=musicalins09c-21&tracking_id=musicalins09c-21" width="250" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>