
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" >

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a rel="author" href="{{ "/" | relative_url }}" class="navbar-brand text-light mx-3 pl-3" >{{ site.title | escape }}</a>
				
    <button type="button" class="navbar-toggler align-self-center " data-toggle="collapse" data-target="#websiteMenu"  style="outline:0; border: 0;"  >
      <span >
        <svg class="svg-icon" viewBox="0 0 20 20" style="width: 30px; height:30px;" >
          <path d="M3.314,4.8h13.372c0.41,0,0.743-0.333,0.743-0.743c0-0.41-0.333-0.743-0.743-0.743H3.314
            c-0.41,0-0.743,0.333-0.743,0.743C2.571,4.467,2.904,4.8,3.314,4.8z M16.686,15.2H3.314c-0.41,0-0.743,0.333-0.743,0.743
            s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,15.2,16.686,15.2z M16.686,9.257H3.314
            c-0.41,0-0.743,0.333-0.743,0.743s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,9.257,16.686,9.257z"></path>
        </svg>
      </span>
    </button>
						
    <div class="collapse navbar-collapse " id="websiteMenu" name="websiteMenu" >							
      <ul class="navbar-nav" >
        {%- if page_paths -%}
    
              {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                  <li class="nav-item" ><a class="nav-link " href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                {%- endif -%}
              {%- endfor -%}

        {%- endif -%}
      </ul>
    </div>
        
  </nav>

  <header class="container-fluid bg-light" style="height: 80vh; background-image: url('{{site.url}}{{site.baseurl}}/assets/images/people-gf1fa0893d_1280.jpg'); background-attachment: fixed;" >
    <div class="row h-100 d-flex justify-content-center ">
      <div class="col-12 col-md-9 col-lg-6 col-xl-4 h-100 d-flex flex-column align-items-center justify-content-center" >
        <h1 class="text-center text-light" data-aos="fade-up" data-aos-delay="100" >{{site.title}}</h1>
        <p class="text-center text-light" data-aos="fade-up" data-aos-delay="150" >{{site.description}}</p>
        <h4 class="text-center text-light" data-aos="fade-up" data-aos-delay="200" >{{page.title}}</h4>
      </div>
    </div>
  </header>

