{%- if productos.valoracion == 5 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 4.5 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/media-estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 4 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 3.5 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/media-estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 3 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 2.5 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/media-estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 2 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 1.5 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/media-estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 1 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}
                    {%- if productos.valoracion == 0.5 -%}
                        <img src="{{site.url}}{{site.baseurl}}/assets/images/icons/media-estrella.png" style="width:20px; height:20px;" alt="">
                    {%- endif -%}