<div class="col-12 my-3">
    <div class="card border-0">
        <div class="card-body p-2 ">
            <div class="card-image">
                <a href="{{productos.url | relative_url }}" target="_blank" ><img src="{{productos.image | relative_url }}" class="rounded" alt=""></a>
            </div>
            <div class="card-title">
                <h3><a href="{{productos.url | relative_url }}" class="text-dark" target="_blank" >{{productos.title}}</a></h3>
            </div>
            <div class="card-content">
                <small class="text-muted" >{{productos.excerpt}}</small>
                <p>{{productos.description}}</p>
                <span>{% include products_valoraciones_convert_img.html %}</span>
                <div class="my-1" >
                    <strong class="p-1" >{{productos.price}}<sup>&euro;</sup></strong>
                    {%- if productos.old_price -%}
                        <small class="p-1 text-muted" ><del>{{productos.old_price}}<sup>&euro;</sup></del></small>
                    {%- endif -%}
                </div>
                <div>
                    <a href="{{productos.url | relative_url }}" class="btn btn-success text-white" target="_blank" >Comprar Producto</a>
                </div>
            </div>
        </div>
    </div>
</div>