---
layout: default
---

<div class="container-fluid" >
  <div class="row">

    <div class="col-12">
      {%- if page.title -%}
        <h1 class="page-heading" data-aos="fade-up" >{{ page.title }}</h1>
      {%- endif -%}
    </div>

    <div class="col-12">
      {{ content }}
    </div>

    <div class="col-12 col-md-6 my-3 my-md-0 ">
      {% comment %} POSTS {% endcomment %}
 
      {%- if site.posts.size > 0 -%}
        <h2 data-aos="fade-up" data-aos-delay="50" >{{ page.list_title | default: "Posts" }}</h2>

        {%- for post in site.posts limit: 6 -%}
          <div class="d-flex justify-content-start align-items-center my-2 " data-aos="fade-up" >

              {%- if post.image -%}
                <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image" data-aos="fade-up" data-aos-delay="100" >
              {%- endif -%}
              
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <div>
                <span class="post-meta" data-aos="fade-up" data-aos-delay="150" >{{ post.date | date: date_format }}</span>
                <h3 data-aos="fade-up" data-aos-delay="200" >
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  <span data-aos="fade-up" data-aos-delay="250" >
                    {{ post.excerpt }}
                  </span>
                {%- endif -%}
              </div>
    
            </div>
          {%- endfor -%}

    
        {%- endif -%}
    </div>

    <div class="col-12 col-md-6 my-3 my-md-0 ">
      {% comment %} PRODUCTS {% endcomment %}
        
      {%- assign arrProductos = site.data.products.products.arr_products -%}
      {%- if arrProductos.size > 0 -%}
        <h2 data-aos="fade-up" data-aos-delay="50">{{ page.list_title | default: "Productos" }}</h2>

          {%- for product in arrProductos limit: 6 -%}
            <div class="d-flex justify-content-start align-items-center my-2 " data-aos="fade-up" >
              
              {%- if product.image -%}
                <img src="{{- product.image | relative_url -}}" alt="" class="blog-roll-image" data-aos="fade-up" data-aos-delay="100" >
              {%- else -%}
                {%- assign productImage = "" -%}
                <img src="{{- productImage | relative_url -}}" alt="" class="blog-roll-image">
              {%- endif -%}
              
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <div>
                <span class="post-meta" data-aos="fade-up" data-aos-delay="150" >{{ product.date | date: date_format }}</span>
                <h3 data-aos="fade-up" data-aos-delay="200" >                  
                  <a class="post-link" href="{{site.url}}{{site.baseurl}}/productos/details/{{product.identifier}}">
                    {{ product.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  <span data-aos="fade-up" data-aos-delay="250" >
                    {{ product.excerpt }}
                  </span>
                {%- endif -%}
              </div>

            </div>
          {%- endfor -%}

      {%- endif -%}
    </div>

  </div>
</div>

  

    {% comment %} <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> {% endcomment %}
  




